#main-picture {
    width: 100%;
    background-image: url("https://www.kreiszeitung.de/bilder/2019/09/21/13026885/391919427-bayern-muenchen-uli-hoeness-benjamin-pavard-transfer.jpg");
    height: 50vh;
    background-position: top;
}