#main-picture {
    width: 100%;
    background-image: url("https://img.fcbayern.com/image/upload/v1601359678/cms/public/images/fcbayern-com/homepage/club/offizielle/hoeness/hoeness_3_ima_140516.jpg");
    height: 75vh;
    background-position: top;
}