#main-picture {
    width: 100%;
    background-image: url("https://images.daznservices.com/di/library/GOAL/d5/54/herbert-hainer-adidas_1no4irmnaua6z1dc3tls9y1lob.jpg?t=599661476&w=1920&h=1080");
    height: 75vh;
    background-position: top;
}