#main-picture {
    width: 100%;
    background-image: url("https://images.daznservices.com/di/library/GOAL/69/ca/2017-10-05-heynckes-bayern_1il36eoy8oj3l11t2kj3guvovl.jpg?t=-379011690&quality=100");
    height: 50vh;
    background-position: center;
}