h1 {
    border-bottom: 10px solid red;
}

#main-picture {
    width: 100%;
    /* background-image: url("https://i.pinimg.com/originals/cd/0a/ac/cd0aace8dd8cb59eaaf2e821b57ddb65.jpg");*/
    background-image: url("https://img.fcbayern.com/image/upload/v1601341358/cms/public/images/fcbayern-com/homepage/saison-18-19/galerien/magische-cl-naechte/04_fcboly_fcb_240410.jpg");
    height: 50vh;
    background-position: center;
}