#main-picture {
    width: 100%;
    background-image: url("https://www.tz.de/bilder/2017/04/04/8081058/2049534797-olympiastadion-muenchen-PSHG.jpg");
    height: 75vh;
    background-position: center;
}